
html {
  overflow: hidden;
  height: 100vh;
}

body {
  margin: 0;
  height: 100vh;
}

#responsivePage {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
}

#pageContent {
  overflow: auto;
  height: 100vh;
  width: 100vw;
  display: flex;
}

@media (max-width: 425px) {
  #pageContent {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  #pageContent::-webkit-scrollbar {
    display: none;
  }
}

button:hover {
  cursor: pointer;
}

.ffit-invisible {
  background: transparent;
  border: none;
}

#ffit-overlay {
  position: absolute;
  top: 0;
  left: 0;
  border: none;
  height: 100%;
  width: 100%;
  visibility: hidden;
  z-index: 1000;
}

#id_Frame_37_4058_371 {
    position: relative;
    box-sizing: border-box;
    height: 735px;
        min-height: 735px;
        max-height: 735px;
min-height: 100%;
    width: 1280px;
        min-width: 1280px;
        max-width: 1280px;
    
    opacity: 1;
    
    justify-content: flex-start;
align-items: flex-start;

    background-color: rgba(255, 255, 255, 1);
    
    overflow: hidden;
    margin: 0 auto;
  }
#id_Variavel_1__true_4058_372 {
        position: absolute;
        white-space: pre-line;
        word-break: break-word;
        left: 64px;
top: 55px;

        text-align: left;
vertical-align: top;;
        height: 15px;
        min-height: 15px;
        max-height: 15px;
        width: 83px;
        min-width: 83px;
        max-width: 83px;
        letter-spacing: 0px;
        box-sizing: border-box;
        opacity: 1;
        font-family: Inter, sans-serif;
        font-style: Regular;
        transform: rotate(-0deg);
        transform-origin: left;
        
        
        
        cursor: pointer;
      }
#id_chars_0_Variavel_1__true_4058_372 {
          font-size: 12px;
          font-weight: 400;
          
          
          color: rgba(0, 0, 0, 1);
          
        }
#id_Variavel_1__true_4058_372_vertical_align {
        
      }
#id_Variavel_1__false_4058_373 {
        position: absolute;
        white-space: pre-line;
        word-break: break-word;
        left: 64px;
top: 81px;

        text-align: left;
vertical-align: top;;
        height: 15px;
        min-height: 15px;
        max-height: 15px;
        width: 88px;
        min-width: 88px;
        max-width: 88px;
        letter-spacing: 0px;
        box-sizing: border-box;
        opacity: 1;
        font-family: Inter, sans-serif;
        font-style: Regular;
        transform: rotate(-0deg);
        transform-origin: left;
        
        
        
        cursor: pointer;
      }
#id_chars_0_Variavel_1__false_4058_373 {
          font-size: 12px;
          font-weight: 400;
          
          
          color: rgba(0, 0, 0, 1);
          
        }
#id_Variavel_1__false_4058_373_vertical_align {
        
      }
#id_Variavel_2__true_4058_375 {
        position: absolute;
        white-space: pre-line;
        word-break: break-word;
        left: 185px;
top: 55px;

        text-align: left;
vertical-align: top;;
        height: 15px;
        min-height: 15px;
        max-height: 15px;
        width: 85px;
        min-width: 85px;
        max-width: 85px;
        letter-spacing: 0px;
        box-sizing: border-box;
        opacity: 1;
        font-family: Inter, sans-serif;
        font-style: Regular;
        transform: rotate(-0deg);
        transform-origin: left;
        
        
        
        cursor: pointer;
      }
#id_chars_0_Variavel_2__true_4058_375 {
          font-size: 12px;
          font-weight: 400;
          
          
          color: rgba(0, 0, 0, 1);
          
        }
#id_Variavel_2__true_4058_375_vertical_align {
        
      }
#id_Variavel_2__false_4058_376 {
        position: absolute;
        white-space: pre-line;
        word-break: break-word;
        left: 185px;
top: 81px;

        text-align: left;
vertical-align: top;;
        height: 15px;
        min-height: 15px;
        max-height: 15px;
        width: 89px;
        min-width: 89px;
        max-width: 89px;
        letter-spacing: 0px;
        box-sizing: border-box;
        opacity: 1;
        font-family: Inter, sans-serif;
        font-style: Regular;
        transform: rotate(-0deg);
        transform-origin: left;
        
        
        
        cursor: pointer;
      }
#id_chars_0_Variavel_2__false_4058_376 {
          font-size: 12px;
          font-weight: 400;
          
          
          color: rgba(0, 0, 0, 1);
          
        }
#id_Variavel_2__false_4058_376_vertical_align {
        
      }
#id_Variavel_3__true_4066_454 {
        position: absolute;
        white-space: pre-line;
        word-break: break-word;
        left: 311px;
top: 55px;

        text-align: left;
vertical-align: top;;
        height: 15px;
        min-height: 15px;
        max-height: 15px;
        width: 85px;
        min-width: 85px;
        max-width: 85px;
        letter-spacing: 0px;
        box-sizing: border-box;
        opacity: 1;
        font-family: Inter, sans-serif;
        font-style: Regular;
        transform: rotate(-0deg);
        transform-origin: left;
        
        
        
        cursor: pointer;
      }
#id_chars_0_Variavel_3__true_4066_454 {
          font-size: 12px;
          font-weight: 400;
          
          
          color: rgba(0, 0, 0, 1);
          
        }
#id_Variavel_3__true_4066_454_vertical_align {
        
      }
#id_Variavel_3__false_4066_455 {
        position: absolute;
        white-space: pre-line;
        word-break: break-word;
        left: 311px;
top: 81px;

        text-align: left;
vertical-align: top;;
        height: 15px;
        min-height: 15px;
        max-height: 15px;
        width: 90px;
        min-width: 90px;
        max-width: 90px;
        letter-spacing: 0px;
        box-sizing: border-box;
        opacity: 1;
        font-family: Inter, sans-serif;
        font-style: Regular;
        transform: rotate(-0deg);
        transform-origin: left;
        
        
        
        cursor: pointer;
      }
#id_chars_0_Variavel_3__false_4066_455 {
          font-size: 12px;
          font-weight: 400;
          
          
          color: rgba(0, 0, 0, 1);
          
        }
#id_Variavel_3__false_4066_455_vertical_align {
        
      }
#id_Variavel_4__true_4066_457 {
        position: absolute;
        white-space: pre-line;
        word-break: break-word;
        left: 435px;
top: 55px;

        text-align: left;
vertical-align: top;;
        height: 15px;
        min-height: 15px;
        max-height: 15px;
        width: 85px;
        min-width: 85px;
        max-width: 85px;
        letter-spacing: 0px;
        box-sizing: border-box;
        opacity: 1;
        font-family: Inter, sans-serif;
        font-style: Regular;
        transform: rotate(-0deg);
        transform-origin: left;
        
        
        
        cursor: pointer;
      }
#id_chars_0_Variavel_4__true_4066_457 {
          font-size: 12px;
          font-weight: 400;
          
          
          color: rgba(0, 0, 0, 1);
          
        }
#id_Variavel_4__true_4066_457_vertical_align {
        
      }
#id_Variavel_4__false_4066_458 {
        position: absolute;
        white-space: pre-line;
        word-break: break-word;
        left: 435px;
top: 81px;

        text-align: left;
vertical-align: top;;
        height: 15px;
        min-height: 15px;
        max-height: 15px;
        width: 90px;
        min-width: 90px;
        max-width: 90px;
        letter-spacing: 0px;
        box-sizing: border-box;
        opacity: 1;
        font-family: Inter, sans-serif;
        font-style: Regular;
        transform: rotate(-0deg);
        transform-origin: left;
        
        
        
        cursor: pointer;
      }
#id_chars_0_Variavel_4__false_4066_458 {
          font-size: 12px;
          font-weight: 400;
          
          
          color: rgba(0, 0, 0, 1);
          
        }
#id_Variavel_4__false_4066_458_vertical_align {
        
      }
#id_Ellipse_1__hidden____4058_379 {
          position: absolute;
          display: flex;
          height: 50px;
        min-height: 50px;
        max-height: 50px;
          width: 50px;
        min-width: 50px;
        max-width: 50px;
          left: 68px;
top: 135px;

          box-sizing: border-box;
          opacity: 1;
          border-radius: 50%;
          
          
          background-color: rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
          
          
          transform: rotate(-0deg);
          transform-origin: left;
          
          
          
        }
#id_Ellipse_1__not_hidde_4064_450 {
          position: absolute;
          display: flex;
          height: 50px;
        min-height: 50px;
        max-height: 50px;
          width: 50px;
        min-width: 50px;
        max-width: 50px;
          left: 68px;
top: 202px;

          box-sizing: border-box;
          opacity: 1;
          border-radius: 50%;
          
          
          background-color: rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
          
          
          transform: rotate(-0deg);
          transform-origin: left;
          
          
          
        }
#id_Ellipse_2__hidden____4058_380 {
          position: absolute;
          display: flex;
          height: 50px;
        min-height: 50px;
        max-height: 50px;
          width: 50px;
        min-width: 50px;
        max-width: 50px;
          left: 194px;
top: 135px;

          box-sizing: border-box;
          opacity: 1;
          border-radius: 50%;
          
          
          background-color: rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
          
          
          transform: rotate(-0deg);
          transform-origin: left;
          
          
          
        }
#id_Ellipse_2__not_hidde_4065_452 {
          position: absolute;
          display: flex;
          height: 50px;
        min-height: 50px;
        max-height: 50px;
          width: 50px;
        min-width: 50px;
        max-width: 50px;
          left: 194px;
top: 202px;

          box-sizing: border-box;
          opacity: 1;
          border-radius: 50%;
          
          
          background-color: rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
          
          
          transform: rotate(-0deg);
          transform-origin: left;
          
          
          
        }
#id_Ellipse_2__not_hidde_4110_432 {
          position: absolute;
          display: flex;
          height: 50px;
        min-height: 50px;
        max-height: 50px;
          width: 50px;
        min-width: 50px;
        max-width: 50px;
          left: 274px;
top: 332px;

          box-sizing: border-box;
          opacity: 1;
          border-radius: 50%;
          
          
          background-color: rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
          
          
          transform: rotate(-0deg);
          transform-origin: left;
          
          
          
        }
#id_Ellipse_2__not_hidde_4110_436 {
          position: absolute;
          display: flex;
          height: 50px;
        min-height: 50px;
        max-height: 50px;
          width: 50px;
        min-width: 50px;
        max-width: 50px;
          left: 105px;
top: 336px;

          box-sizing: border-box;
          opacity: 1;
          border-radius: 50%;
          
          
          background-color: rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
          
          
          transform: rotate(-0deg);
          transform-origin: left;
          
          
          
        }
#id_Ellipse_2__not_hidde_4110_434 {
          position: absolute;
          display: flex;
          height: 50px;
        min-height: 50px;
        max-height: 50px;
          width: 50px;
        min-width: 50px;
        max-width: 50px;
          left: 410px;
top: 332px;

          box-sizing: border-box;
          opacity: 1;
          border-radius: 50%;
          
          
          background-color: rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
          
          
          transform: rotate(-0deg);
          transform-origin: left;
          
          
          
        }
#id_Rectangle_17__hidden_4060_430 {
        position: absolute;
        display: flex;
        height: 50px;
        min-height: 50px;
        max-height: 50px;
        width: 50px;
        min-width: 50px;
        max-width: 50px;
        left: 558px;
top: 50px;

        box-sizing: border-box;
        opacity: 1;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        
        
        background-color: rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
        
        
        transform: rotate(-0deg);
        transform-origin: left;
        
        
        overflow: visible;
        
      }
#id_Rectangle_18__hidden_4060_432 {
        position: absolute;
        display: flex;
        height: 50px;
        min-height: 50px;
        max-height: 50px;
        width: 50px;
        min-width: 50px;
        max-width: 50px;
        left: 558px;
top: 110px;

        box-sizing: border-box;
        opacity: 1;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        
        
        background-color: rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
        
        
        transform: rotate(-0deg);
        transform-origin: left;
        
        
        overflow: visible;
        
      }
#id_Rectangle_19__hidden_4060_434 {
        position: absolute;
        display: flex;
        height: 50px;
        min-height: 50px;
        max-height: 50px;
        width: 50px;
        min-width: 50px;
        max-width: 50px;
        left: 558px;
top: 170px;

        box-sizing: border-box;
        opacity: 1;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        
        
        background-color: rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
        
        
        transform: rotate(-0deg);
        transform-origin: left;
        
        
        overflow: visible;
        
      }
#id_Variavel__mostrar_4068_463 {
        position: absolute;
        white-space: pre-line;
        word-break: break-word;
        left: 47px;
top: 458px;

        text-align: left;
vertical-align: top;;
        height: 15px;
        min-height: 15px;
        max-height: 15px;
        width: 95px;
        min-width: 95px;
        max-width: 95px;
        letter-spacing: 0px;
        box-sizing: border-box;
        opacity: 1;
        font-family: Inter, sans-serif;
        font-style: Regular;
        transform: rotate(-0deg);
        transform-origin: left;
        
        
        
        cursor: pointer;
      }
#id_chars_0_Variavel__mostrar_4068_463 {
          font-size: 12px;
          font-weight: 400;
          
          
          color: rgba(0, 0, 0, 1);
          
        }
#id_Variavel__mostrar_4068_463_vertical_align {
        
      }
#id_Variavel__n_o_mostra_4068_464 {
        position: absolute;
        white-space: pre-line;
        word-break: break-word;
        left: 47px;
top: 484px;

        text-align: left;
vertical-align: top;;
        height: 15px;
        min-height: 15px;
        max-height: 15px;
        width: 120px;
        min-width: 120px;
        max-width: 120px;
        letter-spacing: 0px;
        box-sizing: border-box;
        opacity: 1;
        font-family: Inter, sans-serif;
        font-style: Regular;
        transform: rotate(-0deg);
        transform-origin: left;
        
        
        
        cursor: pointer;
      }
#id_chars_0_Variavel__n_o_mostra_4068_464 {
          font-size: 12px;
          font-weight: 400;
          
          
          color: rgba(0, 0, 0, 1);
          
        }
#id_Variavel__n_o_mostra_4068_464_vertical_align {
        
      }
#id_Rectangle_20__hidden_4068_466 {
        position: absolute;
        display: flex;
        height: 50px;
        min-height: 50px;
        max-height: 50px;
        width: 192px;
        min-width: 192px;
        max-width: 192px;
        left: 47px;
top: 545px;

        box-sizing: border-box;
        opacity: 1;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        
        
        background-color: rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
        
        
        transform: rotate(-0deg);
        transform-origin: left;
        
        
        overflow: visible;
        
      }
#id__hidden_v_1__true__v_4109_420 {
        position: absolute;
        white-space: pre-line;
        word-break: break-word;
        left: 640px;
top: 62px;

        text-align: left;
vertical-align: top;;
        height: 15px;
        min-height: 15px;
        max-height: 15px;
        width: 170px;
        min-width: 170px;
        max-width: 170px;
        letter-spacing: 0px;
        box-sizing: border-box;
        opacity: 1;
        font-family: Inter, sans-serif;
        font-style: Regular;
        transform: rotate(-0deg);
        transform-origin: left;
        
        
        
        
      }
#id_chars_0__hidden_v_1__true__v_4109_420 {
          font-size: 12px;
          font-weight: 400;
          
          
          color: rgba(0, 0, 0, 1);
          
        }
#id__hidden_v_1__true__v_4109_420_vertical_align {
        
      }
#id__hidden_v_1__true__v_4109_423 {
        position: absolute;
        white-space: pre-line;
        word-break: break-word;
        left: 640px;
top: 127px;

        text-align: left;
vertical-align: top;;
        height: 15px;
        min-height: 15px;
        max-height: 15px;
        width: 177px;
        min-width: 177px;
        max-width: 177px;
        letter-spacing: 0px;
        box-sizing: border-box;
        opacity: 1;
        font-family: Inter, sans-serif;
        font-style: Regular;
        transform: rotate(-0deg);
        transform-origin: left;
        
        
        
        
      }
#id_chars_0__hidden_v_1__true__v_4109_423 {
          font-size: 12px;
          font-weight: 400;
          
          
          color: rgba(0, 0, 0, 1);
          
        }
#id__hidden_v_1__true__v_4109_423_vertical_align {
        
      }
#id__hidden__v_1__true___4109_425 {
        position: absolute;
        white-space: pre-line;
        word-break: break-word;
        left: 640px;
top: 187px;

        text-align: left;
vertical-align: top;;
        height: 15px;
        min-height: 15px;
        max-height: 15px;
        width: 332px;
        min-width: 332px;
        max-width: 332px;
        letter-spacing: 0px;
        box-sizing: border-box;
        opacity: 1;
        font-family: Inter, sans-serif;
        font-style: Regular;
        transform: rotate(-0deg);
        transform-origin: left;
        
        
        
        
      }
#id_chars_0__hidden__v_1__true___4109_425 {
          font-size: 12px;
          font-weight: 400;
          
          
          color: rgba(0, 0, 0, 1);
          
        }
#id__hidden__v_1__true___4109_425_vertical_align {
        
      }
